<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<%# Login Form %>
<div class="login-form-container">
<form action="/account/login" method="post"  class="login">
    <fieldset>
        <div class="login-form-group">
        <label class="above" for="email">Email:</label>
        <input type="email" id="email" name="account_email" placeholder="Enter a valid email address" required value="<%= locals.account_email %>">        
        </div>

        <div class="login-form-group">
        <label class="above" for="password" >Password:</label>
        <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        </div>
        <div id="login-password-requirements">
        <p>Passwords must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character."</p>
        </div>
        
        <button type="submit">Login</button>
        <h2>No account? <a href="/account/registration" >Sign-up</a></h2>
    </fieldset>
    
</form>
</div>