<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <%# Flash message %>
  <%- messages() %>
  <% if (errors) { %> <!--EJS code block contianing "if" control to detect if an error variable exists and is not null-->
  <ul class="notice"> <!--If errors exist, create an unordered list with a class for styling-->
    <% errors.array().forEach(error => { %> <!--Treat erros variable as an array and loop through array, each individual error being sent into a callback function-->
      <li><%= error.msg %></li> <!--create a list item and display the message attached to the error element -->
  <% }) %>
  </ul>
  <% } %>

  <%- grid %>