<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <div class="footer-container">
    <p><a href="/trigger-error">Error Link</a></p>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    </div>
</footer>