<nav>
    <ul>
        <li class="active hover-highlight"><a href="/">Home</a></li>
        <li class="hover-highlight"><a href="/">Custom</a></li>
        <li class="hover-highlight"><a href="/">Sedan</a></li>
        <li class="hover-highlight"><a href="/">SUV</a></li>
        <li class="hover-highlight"><a href="/">Truck</a></li>
    </ul>
</nav>