<h1>Welcome to CSE Motors!</h1>
    <div class="hero-container">
    
        <img class="hero-img" src="/images/vehicles/delorean.jpg"
            srcset="/images/vehicles/delorean-tn.jpg 490w,
                    /images/vehicles/delorean.jpg 800w"
            width="800" height="450"
            sizes="(max-width: 600px) 490px, 800px"
            alt="Gray Delorean">
   
    <div class="hero-card">
        <h2>DMC Delorean</h2>
        <ul>
        <li>3 Cup holders</li> 
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
        </ul>
        <h3>Own Today</h3>
    </div>
    </div>

    <div id="upgrades-reviews-wrapper">
    <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
        <ul>
        <li>"So fast it's almost like traveling in time."</li>
        <li>"Coolest ride on the road."</li>
        <li>"I'm feeling McFly!"</li>
        <li>"The most futuristic ride of our day."</li>
        <li>"80's livin and I love it!"</li>
        </ul>
    </div>

<div class="upgrades-wrapper">
<h2>Delorean Upgrades</h2>
    <div class="upgrades-cards-grid">  
    <!--Upgrade Cards-->

    <!--Flux-Cap Card-->
    <div id="flux-cap-card">
    <div class="upgrade-cards">
        <img class="upgrade-images" src="/images/upgrades/flux-cap.png" width="65" height="65"
        alt="Photo of Flux Capacitor">
    </div>
    <div class="upgrade-links">
        <a title="Shop Flux Capacitor selection" href="/">Flux Capacitor</a>
    </div>
    </div>

    <!--Flame Decal Card-->
    <div id="flame-card">
    <div class="upgrade-cards">
        <img class="upgrade-images" src="/images/upgrades/flame.jpg" width="65" height="82"
        alt="Flame graphic">
    </div>
    <div class="upgrade-links">
        <a title="Shop Flame Decals" href="/">Flame Decals</a>
    </div>
    </div>
    
    <!--Bumper Sticker Card-->
    <div id="bumper-stickers-card">
    <div class="upgrade-cards">
        <img class="upgrade-images" src="/images/upgrades/bumper_sticker.jpg" width="65" height="57"
        alt="Bumper sticker graphic">
    </div>
    <div class="upgrade-links">
        <a title="Shop bumper sticker selection" href="/">Bumper Stickers</a>
    </div>
    </div>  

    <!--Hub Caps Card-->
    <div id="hub-caps-card">
    <div class="upgrade-cards">
        <img class="upgrade-images" src="/images/upgrades/hub-cap.jpg" width="65" height="65"
        alt="Hub cap graphic">
    </div>
    <div class="upgrade-links">
        <a title="Shop hub cap selecton" href="/">Hub Caps</a>
    </div>
    </div>
    </div>
    </div>
    </div>
