/******* Change Box Model ***************
*,
*:before,
*:after {
  box-sizing: border-box;
}*/

:root {
  --heading-font: "Rubik", sans-serif;
  --paragraph-font: "Lora", serif;
  --main-font-color: #14213d;
  --font-color-on-color: #ffb703;
  --primary-color: #023047;
  --accent1: #f7f6f3;
  --accent2: #0077B6;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  --text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

}

/*heading styles*/
h1,
h2, 
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-size: 1.5em;
}

/*paragraph styles*/
p {
  font-family: var(--paragraph-font);
  font-size: 1em;
}

/*Styling of the Header*/

#top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;  
  font-family: var(--heading-font);
}

.siteName a:link {
  font-size: 2em;
  font-weight: 600;
  color: var(--main-font-color);
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.siteName a:visited {
  color: var(--main-font-color);
}

#tools a:link {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: var(--main-font-color);
}

nav {
  background-color: var(--primary-color);
}

/*Styling of Navigation*/
nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;  
  list-style-type: none;
  padding: 0.5em 2vw;
  margin: 0;
  background-color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 1em;
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow);
}

nav ul li a {
  color: var(--font-color-on-color);
  text-decoration: none;
  padding: 0.5em 2vw;
}

/*.hover-highlight a:hover {
  background-color: var(--accent2);
  color: var(--font-color-on-color);
}*/

/*Wayfinding*/
/*nav ul li.active a {
  background-color: var(--accent1);
  color: var(--main-font-color);
}*/

/*hero-container styling*/
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*hero-img styling*/
.hero-img {
  object-fit: cover;
  margin-top: auto;
  width: 85%;
  height: auto;
}

/* hero-container h2 styling*/
.hero-container h1 {
  align-self: flex-start;
}

/*hero-card styling*/
.hero-card {
  position: absolute;
  bottom: 2%;
  left: 25%;
  transform: translateX(-62%);
  width: 43%;
  margin: 10px;
  background-color: rgba(195, 203, 209, 0.3);
  padding: 10px;
  border-radius: 10px;
}
.hero-card h2{
  color: var(--accent2);
  font-size: 1.2em;
  margin: 0;
}

.hero-card h3 {
  background-color: var(--primary-color);
  color: var(--font-color-on-color);
  font-size: .75em;
  padding: 5%;
  text-align: center;
  border-radius: 5px;
}

.hero-card ul {
  padding: 5px;
  margin: 2px;
}

.hero-card li {
  color: var(--accent2);
  font-size: 1em;
  font-weight: 500;
  list-style-type: none;
  padding: 2px;  
  margin-right: 10px;
}

/*Reviews styling*/
.reviews h2 {
  color: var(--main-font-color);
}

.reviews li {
  padding: 5px;
}

/*Upgrades styling*/
.upgrades-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  gap: 2%;
}

.upgrade-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent2);
  border: 2px solid var(--main-font-color);
  box-shadow: var(--box-shadow);
  width: 150px;
  height: 125px;
}

.upgrade-images {
  max-width: 100%;
  height: auto;
  
}

.upgrade-links {
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
}

#flux-cap-card {
  grid-column: 1 / 2;
  grid-row: 1;
}

#flame-card {
  grid-column: 2 / 3;
  grid-row: 1;
}

#bumper-stickers-card {
  grid-column: 1 / 2;
  grid-row: 2;
}

#hub-caps-card {
  grid-column: 2 / 3;
  grid-row: 2;
}

/* Inventory Card Styling */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 1em;
  border: none;
}

.inv-card {
  list-style-type: none;
  box-shadow: var(--box-shadow);
  transition: 0.3s; 
  width: 250px;
  padding: 1em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  border: solid 1px var(--primary-color)  
}

.center-inv-img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.namePrice span {
  font-size: 1.5em;
  font-weight: 700;
}

.namePrice hr {
  margin-top: 1em;
 border: solid 3px var(--primary-color)
}

.namePrice h2 a{
  color: var(--heading-font);
}

.namePrice a:hover {
  text-shadow: var(--box-shadow);
}

/* Styling Details base view */
.vehicle-title-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.vehicle-miles h3,
.vehicle-price h3 {
  display: inline-block;
  margin-right: 10px;
}

.vehicle-miles span,
.vehicle-price span {
  align-content: center;
  margin-top: .25em;
  font-size: 1.3em;
  font-weight: 600;
}

.vehicle-description h3 {
 display: inline-flex;
 margin-bottom: 0;
 margin-right: 10px;
}

.vehicle-description p {
  display: inline;
  overflow: hidden;
  font-weight: 500;
}

.vehicle-price,
.vehicle-color  {
  background-color: var(--accent1);
}

.vehicle-color h3 {
  display: inline-block;
  margin-right: 10px;
}

.vehicle-color p {
  display: inline;
  font-size: 1.3em;
  font-weight: 500;
}

/* Error styling */
img.alien {
  max-width: 100%;
  height: auto;
  display: block;
  
}

/* Error Link in footer styling */
footer p a {
  color: var(--main-font-color);
  font-size: 1.5em;
  font-weight: 500;
}

footer p a:hover {
  color: var(--accent2);
}

/* Login page styling */
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login {
  background-color: var(--accent2);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  box-shadow: var(--box-shadow);
}

.login fieldset {
  border-color: var(--font-color-on-color);
  border-radius: 5px;
}

.login-form-group .above {
  display: block;
  margin-bottom: 1.5%;
  font-weight: bold;
  font-size: 1.25rem;
}

.login-form-group input {
  width: 80%;
  padding: .5rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

.login fieldset button {
  text-align: center;
  width: 8rem;
  height: 2.25rem;
  border-radius: 5px;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
}

.login h2 {
  margin-left: 10%;
  font-size: 1.25rem;
  font-weight: bold;
}

.login h2 a {
  color: var(--main-font-color);
  font-weight: bold;
}

#login-password-requirements p {
  font-size: 1rem;
  font-weight: 800;
}

/* Registration page styling base view */

.registration-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration {
  background-color: var(--accent2);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  box-shadow: var(--box-shadow);
}

.registration-form-group .above {
  display: block;
  margin-bottom: 1.5%;
  font-weight: bold;
  font-size: 1.25rem;
}

.registration-form-group input {
  width: 80%;
  padding: .5rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
}

.registration fieldset {
  border-color: var(--font-color-on-color);
  border-radius: 5px;
}
#login-password-requirements{
    font-size: .75rem;
  font-weight: 800;
}

.registration fieldset button {
  text-align: center;
  width: 8rem;
  height: 2.25rem;
  border-radius: 5px;
  display: block;
  font-weight: bold;
}

#pswdbutton {
  margin-bottom: 1rem;
}

/* Styling for valid:invalid input*/
input:required:invalid,
  input:focus:invalid {
    background-color: rgb(224, 192, 192);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
    
  }
  input:required:valid {
    background-color: rgb(189, 243, 189);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
  }

  select:required:invalid,
  select:focus {
    background-color: rgb(224, 192, 192);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
  }

  select:required:valid {
    background-color: rgb(189, 243, 189);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
  }

  textarea:required:invalid,
  textarea:focus:invalid {
    background-color: rgb(224, 192, 192);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
  }

  textarea:required:valid {
    background-color: rgb(189, 243, 189);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
  }

/* Notice (error) stylings */
.notice {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.notice li {
  color: #C62E2E;
  list-style-type: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: .30rem;
}

/* Styling for Add Classification*/
.classification-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-classification {
  background-color: var(--accent2);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  box-shadow: var(--box-shadow);
}

.add-classification .above {
  display: block;
  margin-bottom: 1.5%;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.add-classification h2 {
  font-weight: bold;
  font-size: 1.25rem; 
}

.add-classification input {
  width: 80%;
  padding: .5rem;
  margin-bottom: .6rem;
  box-sizing: border-box;
}

.add-classification fieldset {
  border-color: var(--font-color-on-color);
  border-radius: 5px;
}

.add-classification fieldset button {
  width: 9rem;
  height: 2.25rem;
  border-radius: 5px;
  font-weight: bold;
}

/* Styling inventory management view */
.inv-management {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px; 
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  border: solid 5px var(--font-color-on-color);
}

#classification-link a,
#add-new-inventory-link a {  
  font-size:1.25rem;
  color: var(--font-color-on-color);
  font-weight: 700;  
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

#classification-link,
#add-new-inventory-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 2.5rem;
  box-shadow: var(--box-shadow);
}

#classification-link {
  margin-top: 10%;
}

#add-new-inventory-link {
  margin-bottom: 25%;
}

.inv-manage-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px var(--font-color-on-color);
  border-radius: 5px;
  margin-top: 15px;
}

.inv-manage-table p {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
  margin-top: 0;
}

.inv-manage-table h2 {
  margin-bottom: 0;
  font-size: 1.5rem;  
}

#classificationList {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 1.25rem;
}

#inventory-display {
  font-size: 1.5rem;
}

.inv-modify-button,
.inv-delete-button {
  background-color: var(--main-font-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 2.5rem;
  box-shadow: var(--box-shadow);
  padding: 7px;
}

.inv-modify-button a,
.inv-delete-button a {
  text-decoration: none;
  color: var(--font-color-on-color);
}

.inv-delete-button {
  margin-right: 5px;
}

#table-make-model {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Add Inventory and Edit inventory View Styling*/
.add-inventory-form-container,
.edit-inventory-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-inventory,
.edit-inventory {
  background-color: var(--accent2);
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  box-shadow: var(--box-shadow);
}

.add-inventory .above,
.edit-inventory .above {
  display: block;
  margin-bottom: 1.5%;
  font-weight: bold;
  font-size: 1.25rem;
}

.add-inventory input,
.edit-inventory input {
  width: 80%;
  padding: .5rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.add-inventory fieldset,
.edit-inventory fieldset {
  border-color: var(--font-color-on-color);
  border-radius: 5px;
}

.add-inventory textarea,
.edit-inventory textarea {
  border-radius: 5px;
}

.add-inventory fieldset button,
#update-button {
  text-align: center;
  width: 8rem;
  height: 2.25rem;
  border-radius: 5px;
  display: block;
  font-weight: bold;
}

.add-inventory select,
.edit-inventory select {
  width: 80%;
  padding: .5rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
}






