/******* Change Box Model ***************
*,
*:before,
*:after {
  box-sizing: border-box;
}*/

:root {
  --heading-font: "Rubik", sans-serif;
  --paragraph-font: "Lora", serif;
  --main-font-color: #14213d;
  --font-color-on-color: #ffb703;
  --primary-color: #023047;
  --accent1: #ffb703;
  --accent2: #457b9d;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  --text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);

}

/*Styling of the Header*/

#top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  font-family: var(--heading-font);
}

.siteName a:link {
  font-size: 2em;
  font-weight: 600;
  color: var(--main-font-color);
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.siteName a:visited {
  color: var(--main-font-color);
}

#tools a:link {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: var(--main-font-color);
}

nav {
  background-color: var(--primary-color);
}

/*Styling of Navigation*/
nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;  
  list-style-type: none;
  padding: 0.5em 2vw;
  margin: 0;
  color: var(--font-color-on-color);
  font-family: var(--heading-font);
  font-size: 1.25em;
  text-shadow: var(--text-shadow)
}

