<%# Content Heading %>
<% if (title) { %>
    <h1 class="management-title"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Flash message %>
<%- messages() %>

<div class="inv-management">
    <div id="classification-link">
    <!--Link to add a new classification-->
    <a href="/inv/add-classification">Add New Classification</a>
    </div>
    <div id="add-new-inventory-link">
    <!--Link to add new inventory-->
    <a href="/inv/add-inventory">Add New Inventory</a>
    </div>
</div>