<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# Message to be displayed when page is not found %>
<p><%- message %></p>
<img class="alien" src="<%= image %>" alt="<%= title %> image">

